.rating-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.eachBox {
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(24, 24, 46);
    gap: 20px;
    border-radius: 30px;
    font-family: Sans-Serif;
}

.star-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.star {
    width: 100px;
    height: 100px;
}

.yellow {
    background-image: url("../../assets/yellow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
}

.white {
    background-image: url("../../assets/star2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
}

.name {
    font-size: 40px;
    color:white;
}

.content {
    font-size: 30px;
    color: white;
}